* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    border-collapse: collapse;
    }
    
    td {
    border: 1px solid black;
    padding: 8px;
    }

    tr.A {
        background-color: #5D5179;
        color: white;
    }

    tr.B {
        background-color: #4F759B;
        color: white;
    }

    tr.C {
        background-color: #92C9B1;
    }

    tr.D {
        background-color: #A2FAA3;
    }
